html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0px;
    color: #031529;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.625;
    font-size: 16px;
    font-weight: 400;
}

ul {
    padding-inline-start:0px;
}

h1 {
    font-family: 'Exo', sans-serif;
    line-height: 1.2;
    color: #192C42;
    margin-top: 0;
    margin-bottom: 2em;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

figure {
    margin: 0;
}

/* Header section */

header {
    background-attachment: scroll;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 0px;
    color: #031529FF;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: sticky;
    top: 0px;
    z-index: 9999;
    padding: 0 5vw;
}

/* fp configuration */ 

.dark-header {
    background-color: #000;
}

.light-font-header a{
    color: #fff!important;
}

/* end of fp configuration */ 

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    z-index: 1;
}

.nav-ul a {
    margin-left: 10px;
    font-family: 'Exo', sans-serif;
    color:#192C42;
    display: block;
    font-size: 14px;
    font-weight: 600;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
}

.logo {
    padding-top: 10px;
    margin-right: auto;
}

.cepng {
    color: #2a1364;
    width: 400px;
}

.nav-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    z-index:2;
}

/* size-specific */

@media only screen and (min-width: 960px) {
    .nav-ul {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    }

    .main-nav a {
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .menu-desktop {
        display: none;
    }

    .cepng {
        color: #2a1364;
        width: 60%;
    }

    header {
        padding: 2vw 5vw;
    }
}

/* end of size-specific */

/* dropdown list */ 

.dropdown-menu {
    display: none; /* Hide the dropdown by default */
    position: absolute;
    background-color: #111111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    transition: height .4s ease;
}

/* Show the dropdown when the parent <li> is hovered over */

.nav-li-item:hover .dropdown-menu {
    display: block;
}

/* The links inside the dropdown */

.dropdown-menu a {
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    padding: 12px;
    text-align: left;
    max-width: 180px;
}

/* The color of the links on hover */

.dropdown-menu a:hover {
    background-color: #111111;
    text-decoration: underline;
}

.drop-menu-item {
    margin-left: 0px!important;
}

.inner-item {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0.5px;
    border-style: solid;
    border-color: rgb(77, 77, 77);
}

/* End of header section */

/* Main section */

.site-inner {
    clear: both;
    margin: 0 auto;
    padding: 10vh 5vw 2vh 5vw;
}

.entry-title {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 8vh auto;
    background: linear-gradient(#ffffff 0%, #ffffff 49%, #304155 50%, #304155 51%, #ffffff 52%, #ffffff 100%);
}

#titlebox {
    display: inline;
    padding: 10px 20px;
    background: #ffffff;
}

.wp-block-image img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.wp-block-image.has-custom-border img, .wp-block-image img {
    box-sizing: border-box;
}

.wp-block-image .alignright {
    float: right;
    margin: .5em 0 .5em 1em;
}

img {
    border-style: none;
}

.alignright {
    float: right;
    text-align: right;
}

.wp-block-button.alignright, .wp-block-buttons.alignright, .wp-block-cover.alignright, .wp-block-image .alignright {
    margin-left: 2em;
    margin-right: 0;
}

/* size-specific for the main section */

@media only screen and (min-width: 960px) {

.entry-title {
    width: 45vw;
}

.main-content{
    width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
}

/* end size-specific for the main section */

/* footer section */

footer {
    text-align: center;
    font-size: 75%;
    padding: 2em 10%;
    background-color: black;
    color: white;
    height: 10em;
}

.footer-contact {
    margin: 0.5em 0 0.3em 0;
    display: block;
}

footer a, footer a:active, footer a:visited, footer a:hover {
    color: white;
}

#footer-title {
    font-family: "lust-display", serif;
    margin: 0.5em 0;
    font-weight: 600;
    font-size: 20pt;
}

#footer-title a{
    text-decoration: none;
}

/* Banner first page */

.hero-heading {
    position: relative;
    display: flex;
    height: 70%;
    max-height: 70%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;
    background: url('../media/ce-bg02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    padding-left: 15em;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);
}
  
.cont-hero {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.hero-wrap {
    display: flex;
    column-gap: 10em;
}

.split-sections {
    display: flex;
    max-width: 46%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.book-img {
    max-width: 350px;
}

.hero-description {
    margin-bottom: 24px;
}

.hero-button {
    padding: 12px 25px;
    border: solid;
    border-width: 2px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}

.hero-button:hover {
    background-color: #ffffff40;
    color: #fff;
}

.right-section {
    max-width: 600px;
}

.desc-extra {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
}

.desc-details {
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.herotitle {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #ffffff;
}

.desc-details a {
    color: #ffffff;
}

/* size specific */ 

@media only screen and (max-width: 767px) {
    .hero-heading {
        justify-content: flex-start;
        height: 90vh;
        max-height: 90vh;
        /* align-items: center; */
        background: url(../media/ce-bg01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: inset 0 0 0 50vw rgb(0 0 0 / 30%);
        align-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .hero-wrap {
        display: flex;
        column-gap: 10em;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .split-sections {
        max-width: 100%
    }

    .book-img {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 767px) and (max-width:1024px) {
    .hero-heading {
        padding-left: 20px;
    }
    .hero-wrap {
        column-gap: 2em;
    }

    header {
        padding-bottom: 1em;
    }

    .split-sections {
        display: flex;
        /* max-width: 46%; */
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }
}

/* End banner first page */

/* books */


/* main index */

.bg-section {
    width: 100vw;
}

.flex-layout {
    display: flex;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
}

.button-primary {
    padding: 12px 25px;
    background-color: #1a1b1f;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-primary:hover {
    background-color: #32343a;
    color: #fff;
}

.button-primary:active {
    background-color: #43464d;
}

.mainmenu-logo {
    max-width: 100%;
    margin-right: 0%;
    margin-left: 5%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.navigation-bar {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
}

.section {
    display: block;
    max-width: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

.image {
    margin-top: 20px;
}

.dropdown-toggle {
    padding-right: 20px;
}
  
